body {
    background-color: #EAEAEA;
}

div {
    border: solid white;
    margin: 100px;
    border-radius: 20px;
    background-color: white;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 80px;
}

.receita {
    text-align: right;
    margin-right: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #858383;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
}

h2 {
    font-family: 'Trebuchet MS';
    text-align: center;
}

ul {
    font-family:'Trebuchet MS' ;
}

li {
    padding :10px;
}

h3 {
    font-family: 'Trebuchet MS';
    text-align: center;
}

ol {
    font-family:'Trebuchet MS' ;
}


h4 {
    font-family: 'Trebuchet MS';
    text-align: center;
}

.servir {
    font-family: 'Trebuchet MS';
    text-align: center;
}

.rodape {
    font-family: 'Trebuchet MS';
    text-align: center;
}